//自訂網頁文字大小、行高
$font-size-custom: 1rem;
$text-types: (
  xxs: $font-size-custom * 0.75,
  // font-siz:12px
  xs: $font-size-custom * 0.875,
  // font-siz:14px
  s: $font-size-custom * 1,
  // font-siz:16px
  m: $font-size-custom * 1.25,
  // font-siz:20px
  lg: $font-size-custom * 1.5,
  // font-siz:24px
  xl: $font-size-custom * 2,
  // font-siz:32px
  2xl: $font-size-custom * 2.5,
  // font-siz:40px
  3xl: $font-size-custom * 3,
  // font-siz:48px
) !default;

@each $name, $font-size-custom in $text-types {
  .text-#{$name} {
    font-size: $font-size-custom;
  }
}
@include pc-pad {
  @each $name, $font-size-custom in $text-types {
    .text-lg-#{$name} {
      font-size: $font-size-custom;
    }
  }
}
@include pad {
  @each $name, $font-size-custom in $text-types {
    .text-md-#{$name} {
      font-size: $font-size-custom;
    }
  }
}
@include mobile {
  @each $name, $font-size-custom in $text-types {
    .text-sm-#{$name} {
      font-size: $font-size-custom;
    }
  }
}

.text-md-light {
  @include pad {
    color: $light !important;
  }
}
