@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin center {
  margin: 0 auto;
}

@mixin background-type {
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin pc-pad {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin pad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin scrollbar {
  overflow-x: auto;
  @include pad {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
