// .navbar {
//   a:hover {
//     color: $success !important;
//   }
// }
.nav-logo {
  background-image: url(../images/logo.png);
  @include pad {
    background-image: url(../images/logo-mobile.png);
  }
  @include background-type;
  @include size(360px, 100%);
  @include pad {
    @include size(240px, 40px);
  }
}
.navbar {
  position: relative;
}
// 取消BS5手機版選單推擠，改為覆蓋在頁面上
// .navbar-nav {
//   @include pad {
//     position: absolute;
//     background: $primary;
//     width: 100%;
//     z-index: 10;
//     left: 0;
//     top: 55px;
//   }
// }
.navbar-toggler {
  border: none;
}
