.scrollTopBtn {
  text-decoration: none;
  position: fixed; /*圓形圖示*/
  display: flex; /*^圖示*/
  justify-content: center; /*^圖示置中*/
  align-items: center; /*^圖示置中*/
  width: 50px;
  height: 50px;
  right: 25px;
  bottom: 80px;
  border-radius: 50px;
  background: $warning;
  @include mobile {
    width: 40px;
    height: 40px;
    bottom: 45px;
  }
  &:hover {
    text-decoration: none;
    background: $danger;
  }
}
